{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<!--main start-->
<div class="row ">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3 align="center" style="color: rgb(81, 6, 93);">About Us</h3>
      <p align="center">
        GetLeafLush began with the realization that, most plant nurseries were selling the 
        same old plants in plastic bags. Hobbyists and enthusiasts deserved a new experience-
        exotic plants, quality pots, and environmentally friendly growing media.

        We at GetLeafLush would like to give every urban individual a new experience with nature. 
        We grow handpicked potted home plants and are proud of the plants we sell.
      </p>
      <p>
        <b>How we work</b>
        <br>
        Add a touch of green to your home/office in three simple steps and become a plant parent.<br>

        <b>1.Plants, simplified:</b> Order plants ready to be placed in your home, office or garden. Just Unpack, Relax and Enjoy your green buddies<br>
        <b>2.Secure Shipping:</b> Our unique packaging will hold the plants in place and let the plant breathe so that it reaches you fresh without any mess.
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <!--main end-->

{% endblock 'main' %}