{% include 'header.html' %}

{% block 'main' %}

<!--main start-->
<div class="row" align="center">
    <div class="col-md-12">
        <div class="row bg-danger-subtle">
        <h3>Contact Us</h3>
        <p>Want to reach us?</p>
        <p>We are here to help you..</p><hr>
        </div>
        <div class="row bg-danger-subtle">
            <h5>Address:</h5>
            <p>Plot No.318, near Hotel Pearl,<br>
            New Shahupuri, Kolhapur</p><br><br>
            <p><i class="bi bi-telephone-fill text-success-emphasis"></i> :9898987576</p> 
            <p><i class="bi bi-envelope-fill text-success-emphasis"></i> :getleaflush@gmail.com</p>  
        </div>
    </div>
</div>
<!--main end-->

{% endblock 'main' %}