{% load static %}
<!--footer start-->
<div class="row mt-5">
    <div class="row">
      <div class="col-md-4">
        <h5>Quick Links</h5><hr>
        <p><a href="index.html" class="anchor">Home</a></p>
        <p><a href="about.html" class="anchor">About</a></p>
        <p><a href="contact.html" class="anchor">Contact</a></p>
        <p><a href="cart.html" class="anchor">Cart</a></p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5><hr>
        <h5><a href="http://www.facebook.com" class="text-success-emphasis"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="http://www.twitter.com" class="text-success-emphasis"><i class="bi bi-twitter"></i></a></h5>
        <h5><a href="http://www.linkedin.com" class="text-success-emphasis"><i class="bi bi-linkedin"></i></a></h5>
        <h5><a href="http://www.instagram.com" class="text-success-emphasis"><i class="bi bi-instagram"></i></a></h5>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5><hr>
        Plot No.318, near Hotel Pearl,<br>
        New Shahupuri, Kolhapur<br><br>
        <p><i class="bi bi-telephone-fill text-success-emphasis"></i> :9898987576</p> 
        <p><i class="bi bi-envelope-fill text-success-emphasis"></i> :getleaflush@gmail.com</p>
      </div>
    </div><hr>

    <div class="row">
      <div class="col-md-12">
        <p>© 2024 GetLeafLush</p>
      </div>     
    </div>
  </div>

  <!--footer end-->

</div><!--container div end-->

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html> 